<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en" ng-app="portfolioApp">
<head>
    <title>Ter Times</title>

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel= "stylesheet" type= "text/css" href= "css/style.css">
    <link rel= "stylesheet" type= "text/css" href= "css/skeleton.css">
    <link rel= "stylesheet" type= "text/css" href= "css/normalize.css">

    <script src="js/script.js"></script>

    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-route.min.js"></script>
    <script src="js/angular/app.js"></script>
    <script src="js/angular/controllers.js"></script>
  
</head>
<body ng-controller="HomeCtrl">
  <div class="container">
    <div class="row">
      <div class="nine columns">
        <h1 class="huge">Ter Times</h1>
      </div>
      <div class="three columns bottom">
        <p id="weather" class="weather"></p>
      </div>
    </div>
    <div class="underline"></div>
    <div class="row">
      <div class="twelve columns">
        <ul id="navlist">
          <li><a class="home" href="" ng-click='filter(1)'>Home</a></li>
          <li><a class="arts" href="" ng-click='filter(2)'>Arts & Culture</a></li>
          <li><a class="entertainment" href="" ng-click='filter(3)'>Entertainment</a></li>
          <li><a class="travel" href="" ng-click='filter(4)'>Travel</a></li>
          <li><a class="food" href="" ng-click='filter(5)'>Food</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="eight columns">
        <div class="row">
          <div class="twelve columns head-story">
            <a href="/ter_times/about.html"><img src="img/dana.jpg"></a>

          <div class="row">
            <div class="twelve columns">
              <p class="home-story">About</p>
            </div>
          </div>
          
            <div class="row">
            <div class="twelve columns">
              <h1 class="headline"><a href="/ter_times/about.html">Who is Dana Ter?</a></h1>
            </div>
          </div>

            <p class="date-writer">2015-02-25, By Dana Ter</p>
          </div>
        </div>

        <div ng-repeat="rows in chunkedData" class="row">
          <div ng-repeat="article in rows" class="six columns story">
            <a target="_blank" href="{{ article.link }}"><img ng-src="{{ article.img }}"></a>

            <div class="row">
              <div class="twelve columns">
                <p class="{{ article.category_style }}">{{ article.category }}</p>
              </div>
            </div>

            <div class="row">
              <div class="twelve columns">
                <h1 class="headline"><a target="_blank" href="{{ article.link }}">{{ article.title }}</a></h1>
              </div>
            </div>

            <p class="date-writer">{{ article.publisher }}, By {{ article.author }}</p>

          </div>
        </div>
        <div class="row">
          <div class="twelve columns center">
            <h4 class="headline"><a ng-href="" ng-click='loadMore()' >More stories</a></h4>
          </div>
        </div>
      </div>
      <div class="four columns">
        <div class="row">
          <div class="twelve columns list center">
            <h4 class="list-headline">Recent Articles</h4>
            <div class="underline"></div>
            <div ng-repeat="article in recent" class="list-story">
              <div class="row">
                <div class="five columns">
                  <a target="_blank" href="{{ article.link }}"><img ng-src="{{ article.img }}"></a>
                </div>
                <div class="seven columns">
                  <div class="row">
                    <div class="twelve columns">
                      <p class="{{ article.category_style }}">{{ article.category }}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="twelve columns">
                      <h5 class="headline"><a target="_blank" href="{{ article.link }}">{{ article.title }}</a></h5>
                      <p class="date-writer">{{ article.publisher }}, By {{ article.author }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns story"></div>
        <span>Copyright 2015 Dana Ter</span>
        <span><a href="mailto:danayter@gmail.com">danayter@gmail.com</a></span>
        <span><a target="_blank" href="https://twitter.com/danayter">Twitter</a></span>
        <span><a target="_blank" href="https://danater.contently.com">Contently</a></span>
    </div>
  </div>
  <script>
    var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
    var months = ["January","February","March","April","May","June","July", "August", "September", "October", "November", "December"];
    var d = new Date();
    document.getElementById("weather").innerHTML = days[d.getDay()] + ', ' + months[d.getMonth()] + " " + d.getDate() + ", " + d.getFullYear();
  </script>
</body>
</html>