<div class="side-content">
	<div class="row">
		<div class="twelve columns info">
			<h1 >I grew up as a Third Culture Kid in Malaysia, Indonesia, Singapore, Thailand, Hong Kong and Taiwan, and was educated in Australia, the US and the UK.</h1>
		</div>
		<div class="twelve columns info">
			<h1 >My family currently lives in South Korea and I work as a journalist in Taipei, Taiwan. Before that, I was a freelance writer based in New York City's Upper West Side.</h1>
		</div>
		<div class="twelve columns info">
			<h1 > When I'm not tapping away on my laptop, I'm usually doodling in my sketchbook, wandering around in search of a deserted beach, plotting my next international (mis)adventure, or trying to tame my fiery side by practicing yoga.</h1>
		</div>
		<div class="twelve columns info">
			<h1 >I have a Dual MA/MSc in International and World History from Columbia University and the London School of Economics.</h1>
		</div>
	</div>
</div>