<div class="side-content">
	<div class="row">
		<div class="twelve columns">
			<h1 class="huge">Dana Ter</h1>
			<h1 class="big">Journalist</h1>
		</div>
	</div>
	<div class="row">
		<div class="twelve columns">
		  <h1>Email me: <a href="mailto:danayter@gmail.com" target="_top">danayter@gmail.com</a></h1>
		</div>
	</div>
	<div class="row">
		<div class="twelve columns">
		  <h1>Tweet me: <a href="http://www.twitter.com/danayter" target="_top">twitter.com/danayter</a></h1>
		</div>
	</div>
</div>