
<div class="side-content">
  <div class="row">
    <div ng-repeat="p in publishers" class="two columns">
      <a ng-class="{selected: getMyCtrlScope().isSelectedPub(p)}" ng-click="getMyCtrlScope().publisher=p" href>{{ p }}</a>
    </div>
  </div>
  <div class="row">
    <div class="one column">
      <a ng-class="{selected: isNoneSelected()}" ng-click="clearFilter()" href>All</a>
    </div>
    <div ng-repeat="c in categories" class="two columns">
      <a ng-class="{selected: getMyCtrlScope().isSelectedCat(c)}" ng-click="getMyCtrlScope().category=c" href>{{ c }}</a>
    </div>
  </div>
  <div class="divider"></div>
  <div class="portfolio">
    <div ng-repeat="rows in chunkedData" class="row">
      <div ng-repeat="article in rows | filter:category | filter:publisher" class="three columns center article hvr-grow">
        <img class="thumb shadow" ng-src="{{ article.img }}">
      </div>
    </div>
  </div>
</div>


